<a href="https://colab.research.google.com/github/san9roy/Environment-And-Climate/blob/main/Methane_Emissions_1990_2018.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('Methane_Emissions_1990-2018.csv')

In [ ]:
df.shape

(1738, 33)

In [ ]:
df_c = df.copy()

In [ ]:
df_c.shape

(1738, 33)

In [ ]:
df_c.tail()

,Country,Sector,Gas,Unit,2018,2017,2016,2015,2014,2013,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
1733,Samoa,Land-Use Change and Forestry,CH4,MTCO2e,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1734,Samoa,Fugitive Emissions,CH4,MTCO2e,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1735,Yemen,Industrial Processes,CH4,MTCO2e,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1736,Yemen,Land-Use Change and Forestry,CH4,MTCO2e,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1737,Zambia,Industrial Processes,CH4,MTCO2e,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df_c[df_c.isna().any(axis=1)]

,Country,Sector,Gas,Unit,2018,2017,2016,2015,2014,2013,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
1190,Micronesia,Total excluding LUCF,CH4,MTCO2e,0.06,0.06,0.06,0.05,0.05,0.05,...,0.05,0.05,0.05,0.05,0.05,0.01,0.00,0.00,0.00,NaN
1214,Micronesia,Agriculture,CH4,MTCO2e,0.05,0.05,0.05,0.05,0.04,0.04,...,0.04,0.04,0.04,0.04,0.04,0.00,0.00,0.00,0.00,NaN
1251,Marshall Islands,Total excluding LUCF,CH4,MTCO2e,0.03,0.03,0.03,0.03,0.03,0.03,...,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,NaN
1291,Palau,Total excluding LUCF,CH4,MTCO2e,0.02,0.02,0.02,0.02,0.02,0.02,...,0.02,0.02,0.01,0.01,0.01,0.01,0.01,0.01,0.01,NaN
1460,Micronesia,Land-Use Change and Forestry,CH4,MTCO2e,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
1577,Marshall Islands,Agriculture,CH4,MTCO2e,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
1578,Marshall Islands,Land-Use Change and Forestry,CH4,MTCO2e,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
1637,Palau,Agriculture,CH4,MTCO2e,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
1638,Palau,Land-Use Change and Forestry,CH4,MTCO2e,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN

In [ ]:
df_c.query('Country in ["Micronesia", "Marshall Islands", "Palau"] \
                and Sector in ["Total excluding LUCF","Agriculture", "Land-Use Change and Forestry"]')[["Country","1990", "1991", "1992", "1993", "1994"]]

               Country  1990  1991  1992  1993  1994
1190        Micronesia   NaN  0.00  0.00  0.00  0.01
1214        Micronesia   NaN  0.00  0.00  0.00  0.00
1251  Marshall Islands   NaN  0.03  0.03  0.03  0.03
1291             Palau   NaN  0.01  0.01  0.01  0.01
1460        Micronesia   NaN  0.00  0.00  0.00  0.00
1577  Marshall Islands   NaN  0.00  0.00  0.00  0.00
1578  Marshall Islands   NaN  0.00  0.00  0.00  0.00
1637             Palau   NaN  0.00  0.00  0.00  0.00
1638             Palau   NaN  0.00  0.00  0.00  0.00

In [ ]:
df_c.loc[:,"1990"].fillna(0.0, inplace=True)

<ipython-input-12-812e7c80a568>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_c.loc[:,"1990"].fillna(0.0, inplace=True)

In [ ]:
df_c[df_c.isna().any(axis=1)]

Empty DataFrame
Columns: [Country, Sector, Gas, Unit, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990]
Index: []

[0 rows x 33 columns]

In [ ]:
df_c = df_c.melt(id_vars=["Country", "Sector", "Gas", "Unit"], value_vars=[str(y) for y in range(1990,2019)], var_name="Year", value_name="Emission")

In [ ]:
df_c.query('Country == "India"').head(10)

     Country                        Sector  Gas    Unit  Year  Emission
8      India          Total including LUCF  CH4  MTCO2e  1990    524.84
9      India          Total excluding LUCF  CH4  MTCO2e  1990    522.74
13     India                   Agriculture  CH4  MTCO2e  1990    433.94
51     India                        Energy  CH4  MTCO2e  1990     66.17
74     India                         Waste  CH4  MTCO2e  1990     22.64
100    India            Fugitive Emissions  CH4  MTCO2e  1990     26.51
124    India         Other Fuel Combustion  CH4  MTCO2e  1990     39.66
645    India  Land-Use Change and Forestry  CH4  MTCO2e  1990      2.10
1127   India          Industrial Processes  CH4  MTCO2e  1990      0.00
1746   India          Total including LUCF  CH4  MTCO2e  1991    530.63

In [ ]:
df_c = df_c.set_index(['Country', 'Year', 'Sector'])['Emission'].unstack(["Sector"]).reset_index()
df_c.columns.name= None

In [ ]:
df_c.query('Country=="Maldives" and Year < "1995"')

,Country,Year,Agriculture,Energy,Fugitive Emissions,Industrial Processes,Land-Use Change and Forestry,Other Fuel Combustion,Total excluding LUCF,Total including LUCF,Waste
3045,Maldives,1990,0.0,0.0,0.0,0.0,0.0,0.0,0.04,0.04,0.04
3046,Maldives,1991,0.0,0.0,0.0,0.0,0.0,0.0,0.05,0.05,0.04
3047,Maldives,1992,0.0,0.0,0.0,0.0,0.0,0.0,0.05,0.05,0.05
3048,Maldives,1993,0.0,0.0,0.0,0.0,0.0,0.0,0.05,0.05,0.05
3049,Maldives,1994,0.0,0.0,0.0,0.0,0.0,0.0,0.05,0.05,0.05

In [ ]:
df_c.fillna(0.0, inplace=True)

In [ ]:
df_c.isna().sum()

Country                         0
Year                            0
Agriculture                     0
Energy                          0
Fugitive Emissions              0
Industrial Processes            0
Land-Use Change and Forestry    0
Other Fuel Combustion           0
Total excluding LUCF            0
Total including LUCF            0
Waste                           0
dtype: int64

In [ ]:
df_c.to_csv('Methane_Emissions_1990-2018_cleaned.csv', index=False)